.conteiner-principal-3{
    background-image: url(../asset/fondo.jpg);
    color: $blanco;
    .titulo-productos{
        font-family: 'Castoro', serif;
    }
    .logo{
        @include alto-ancho(20%, 20%);
    }
    .list-1{
        color: $blanco;
        @include fuentes(20px);
    }
    .navbar1{
        font-family: 'Zilla Slab', serif;
        color: $blanco;
        @include fuentes(30px);
    }
    .contactos{
        font-family: 'Zilla Slab', serif;
    }
    
}