.conteiner-principal-5{
    background-image: url(../asset/fondo.jpg); 
    color: white; 
    .logo{
        @include alto-ancho(20%, 20%);
    }
    .titulo-precios{
        @include fuentes(50px);
        font-family: 'Zilla Slab', serif;
    }
    .navbar1{
        font-family: 'Zilla Slab', serif;
        color: $blanco;
        @include fuentes(30px);
    }
    .carrusell1p{
        margin-left: 20%;
        margin-right: 20%;
        
    }
    .titulo-carruseles{
        @include fuentes(25px);
        font-family: 'Zilla Slab', serif;  
    }
    .contactos{
        font-family: 'Zilla Slab', serif;
    }
}