.conteiner-principal-4{
    background-image: url(../asset/fondo.jpg);
    color: $blanco;
    .navbar1{
        font-family: 'Zilla Slab', serif;
        color: $blanco;
        @include fuentes(30px);
    }
    .logo{
        @include alto-ancho(20%, 20%);
    }
    .formulario{
        @include fuentes(30px);
        margin-left: 5%;
    }
    .parrafo-contacto{
        font-family: 'Zilla Slab', serif;
        @include fuentes(35px);
    }
    .titulo-contactanos{
        font-family: 'Castoro', serif;
    }
    .contactos{
        font-family: 'Zilla Slab', serif;
    }
}