.conteiner-principal-2{
    background-image: url(../asset/fondo.jpg);
    @include margen(0%);
    color: $blanco;
    .tarjetas{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: $blanco;
    }
    .titulo-conocenos{
        @include fuentes(30px);
        font-family: 'Zilla Slab', serif;
    }
    .logo{
        @include alto-ancho(20%, 20%);
    }
    .pie2{
        color: $blanco;
    }
    .navbar1{
        font-family: 'Zilla Slab', serif;
        color: $blanco;
        @include fuentes(30px);
    }

}